<div class="hero-image">
  <div class="hero-text">
    <h1>WE'RE GETTING MARRIED!</h1>
    <p>敬泓 <span class="text-danger">❤</span> 雨伶</p>
  </div>
</div>

<div class="container">
  <div class="head text-center my-5">
    <h1>婚禮祝福牆</h1>
    <a href="/cards/new" class="btn btn-danger m-2">上傳祝福</a>
    <a href="/slideshow" class="btn btn-danger m-2">自動播放</a>
  </div>
  <div class="card-columns">
    {{#each cards}}
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(200,35,51,0.2);">
      <img src="https://storage.googleapis.com/gcp-wedding-wall/{{this.imageId}}" alt="{{this.name}}"
        style="width:100%">
      <div class="card-text p-3">
        <p>{{this.text}}</p>
        <h6 class="text-right">{{this.name}}</h6>
      </div>
    </div>
    {{/each}}
  </div>
</div>