<div class="container my-5">
  <div class="header text-center my-5">
    <h1>上傳祝福語</h1>
    <p>敬泓 <span class="text-danger">❤</span> 雨伶的幸福婚禮</p>
    <a href="/">>> 回到祝福牆</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 m-auto">
      <form action="/cards/new" method="post" enctype="multipart/form-data" id="card-form"
        onsubmit="return checkSize()">
        <div class="form-group ">
          <label for="name">姓名<span class="text-danger">*</span>：</label>
          <input type="text" id="name" name="name" class="form-control" required />
        </div>
        <div class="form-group ">
          <label for="text">祝福語<span class="text-danger">*</span>：</label>
          <textarea id="text" name="text" class="form-control" rows="2" required /></textarea>
        </div>
        <div class="form-group">
          <label for="image">請選擇一張照片<span class="text-danger">*</span>：</label>
          <div class="d-none text-center" id="image-preview">
            <canvas></canvas>
            <p class="d-none" id="image-size"></p>
          </div>
          <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
        </div>
        <button type="submit" class="btn btn-danger w-100" id="upload-button">❤ 上傳 ❤</button>
        <button class="btn btn-danger w-100 d-none" type="button" id="spinner-button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          上傳中...
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  if ('{{errorMessage.status }}' === 'error') {
    Swal.fire({
      icon: 'error',
      title: '{{ errorMessage.title }}',
      text: '{{ errorMessage.text }}',
    })
  }

  document.getElementById('image').addEventListener('change', e => {
    const files = e.target.files
    const imageURL = window.URL.createObjectURL(files[0])
    console.log(files[0])

    const imageSize = files[0].size / 1024 / 1024
    document.getElementById('image-size').innerHTML = `檔案大小 ${imageSize.toFixed(2)} MB`
    document.getElementById('image-size').classList.add('d-block')

    //document.getElementById('image-preview').src = imageURL
    document.getElementById('image-preview').classList.remove('d-none')
    loadImage(
      e.target.files[0],
      function (img) {
        const olderElement = document.querySelector('canvas')
        console.log(olderElement, img)
        olderElement.parentNode.replaceChild(img, olderElement)
      },
      {
        maxWidth: 300,
        maxHeight: 300,
        orientation: true
      }
    )
  })

  function checkSize() {
    const input = document.getElementById('image')
    const max_img_size = 4 * 1024 * 1024
    if (input.files && input.files.length == 1) {
      if (input.files[0].size > max_img_size) {
        Swal.fire({
          icon: 'error',
          title: '喔！圖片太大了',
          text: '圖片大小必須小於 4 MB，請重新選擇一張照片。',
        })
        return false;
      }
    }

    document.getElementById('upload-button').classList.add('d-none')
    document.getElementById('spinner-button').classList.remove('d-none')
  }
</script>